<html>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>

    <script>
        $(function() {
            $('.generate').click(function() {
                $.get('/api/generate?format=json', function(data) {
                    $('.random_name').prepend("<h3>" + data.random_name + "</h3>");
                });
            });
        });
    </script>

    <h1>Your random name:</h1>
    <button class="generate">Generate</button>
    <div class="random_name">
        <h3>{{random_name}}</h3>
    </div>
    
</html>